/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./assets/css/ErrorNotifs.css');

::selection {
  background-color: #a78bfa5b;
}

h1 {
  font-family: 'Rubik', sans-serif;
}

.activeNav > div {
  background-color: rgb(139, 92, 246);
  color: white;
}
