/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./assets/css/ErrorNotifs.css');

::selection {
  background-color: #a78bfa5b;
}
* {
  font-family: 'Rubik', sans-serif;
}

/* Table Styling and Normalization */
thead {
  text-align: left;
}
th,
td {
  font-weight: normal;
  font-family: 'Rubik', sans-serif;
}

/* Custom Navigation Styling */

.activeNav > div {
  background-color: rgb(139, 92, 246);
  color: white;
}

/* Modal Animation */
.modal {
  animation-duration: 200ms;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Custom Loader Styling */
svg .loader-ring {
  transform-origin: 50px 50px;
  animation: starting-fill 0.5s forwards,
    vary-loader-width 3s 0.5s linear infinite alternate,
    spin 1s 0.2s linear infinite;
}
svg .loader-ring-overlay {
  visibility: hidden;
  transform-origin: 50px 50px;
  animation: spin 1.6s 0.2s linear infinite;
}
.complete .loader-ring-overlay {
  visibility: visible;
  animation: complete-fill 0.5s linear forwards, spin 1.6s 0.2s linear infinite;
}
.complete .loader-ring {
  animation: starting-fill 0.5s forwards,
    vary-loader-width 3s 0.5s linear infinite alternate,
    spin 1.6s 0.2s linear infinite, fade 0.1 0.5s linear forwards;
}
.complete svg {
  animation: fade 0.2s 0.7s linear forwards;
  transition: all 0s 0.9s;
  cursor: initial;
  pointer-events: none;
}
@keyframes starting-fill {
  to {
    stroke-dashoffset: 270;
  }
}
@keyframes vary-loader-width {
  0% {
    stroke-dashoffset: 270;
  }
  50% {
    stroke-dashoffset: 170;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
@keyframes complete-fill {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
